# Build outputs
x64/
Debug/
Release/
*.tlog
*.lastbuildstate
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.sdf
*.opensdf
*.vsp
*.user
*.suo
*.ipch
*.ncb
*.aps
*.log
*.sbr
*.bsc
*.vc.db
*.VC.VC.opendb
*.cachefile
*.db
*.opendb
# Misc
*.exe
*.dll
*.lib
*.exp
*.ilk
*.iobj
*.ipdb
*.tmp
*.log
*.bak
Thumbs.db
